@media screen and (min-width: 310px) {   

		header {
		margin-top: 0px;
	}
	
	.border {
		margin: 0;
    min-height: 250px;
	}

  .sto {
    background-image: url("../images/sto.png");
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: center 15px;
    min-height: 100px; 
  }

	h1 {
		font-size: 34px;  /*40px;*/
		line-height: 48px;
		margin: 10px 8px;
		text-align: center;
	}

	.border p {
		margin: 10px 20px 40px;   
		line-height: 20px;
		text-align: center;
	}

	 .mainblock {
		padding: 40px 10px 40px;
	}

	.left {
		margin-right: 0; 
	}

	.left h2 {
		margin: 0px 0px 50px 0px ;
	}

	.left>.diplom {
		margin: 60px 0px 100px 0px;
 }

	.foto {
		margin: 0px -15px;
	}

	.foto h2 {
		font-size: 22px;
	}

	footer {
		padding: 40px 5px;
		justify-content: space-around;
		margin: 0px -15px;
	}

	.map {
		margin: 35px 0px 0px 0px;
    height: 250px;
    width: 100%;
	}


@media screen and (min-width: 450px) { 

  .map {
    margin: 20px 0px 0px 0px;
    width: 450px;
  }
}

 /*  --  ( col-sm )  --  */

@media (min-width: 768px) {

  header {
		margin-top: 30px;
	} 

	.border {
		 height: 380px;
	}

  .sto {
    background-size: 370px;
    background-position: 0px 102px;
    min-height: 340px; 
  }

	h1 {
		font-size: 36px;
		line-height: 38px;
		margin: 100px 0px 16px -24px;
    text-align: left;
	}

	.border p {
		margin: 0px 0px 0px -24px;  	
		line-height: 20px;
    text-align: left;
	} 

	 .mainblock {
		padding: 60px 40px 40px;
	}

	.left h2 {
		margin: 0px 0px 50px 0px ;
	}

	.left>.diplom {
		margin: 60px 0px 100px 0px;
 }

	.foto h2 {
		font-size: 24px;
	}

	.map {
		margin: 0px 0px 0px 0px;
	}
}

					/*  --  ( col-md )  --  */

@media (min-width: 992px) {
	
	.border {
		 height: 470px;
     width: 970px;
	}

  .sto {
    background-size: 476px;
    background-position: 12px 130px;
    min-height: 430px; 
  }

	h1 {
		font-size: 40px;
		line-height: 50px;
		margin: 130px 0px 20px -10px;
	}

	.border p {
		margin: 0px 10px 0px -10px;  	
		line-height: 22px;
	}

	.mainblock {
		padding: 80px 40px 60px;
	}

	.left h2 {
		margin: 0px 0px 80px 0px ;
	}

	.left>.diplom {
		margin: 80px 0px 0px 0px;
 }

 .foto {
    margin: 0px -15px;
  }

 footer {
	padding: 80px 20px;
  }
 }


										/*   --- ( col-lg ) ----    */

 @media (min-width: 1200px)  { 

 	header {
	margin-top: 50px;
}

	.border {
		 height: 500px;
     width: 1170px;
	}

  .sto {
    background-size: 537px 218px;
    background-position: 34px 132px;
    min-height: 460px; 
  }

  h1 span {
	 color:#ffbb01;
  }

  h1 {
    margin: 154px 0px 20px -10px;
  }

  .border p {
	 margin: 0px 12px 0px -10px;
  }
}


						/* -- ( MAXIM - SIZE ) --   */

@media (min-width: 1400px) { 
	.container {
		width: 1266px;
	}

  .border {
     width: 1266px;
  }


  .sto {
  background-position: 85px 132px;
}

  .border p {
   margin: 0px 50px 0px -10px;
  }
}
