@media screen and (min-width: 340px) {     /*430px*/ 

		header {
		margin-top: 0px;
	}
	
	.border {
		margin: 0px;
	}

  .sto {
  background-image: url("../images/sto.png");
  background-repeat: no-repeat;
  background-size: 50px 60px;/*537px 218px*/;
  background-position: 20px 20px;
  min-height: 80px; 
}

	h1 {
		font-size: 40px;
		line-height: 48px;
		margin: 10px 8px;
		text-align: center;
	}

	.border p {
		margin: 10px 20px 40px;   
		line-height: 20px;
		text-align: center;
	}

	 .mainblock {
		padding: 40px 10px 40px;
	}

	.left {
		margin-right: 0; 
	}

	.left h2 {
		margin: 0px 0px 50px 0px ;
	}

	.left>.diplom {
		margin: 60px 0px 100px 0px;
 }

	.foto {
		margin: 0px -15px;
	}

	.foto h2 {
		font-size: 22px;
	}

	footer {
		padding: 40px 5px;
		justify-content: space-around;
		margin: 0px -15px;
	}

	.map {
		margin: 35px 0px 0px 0px;
    height: 250px;
    width: 100%;
	}


@media screen and (min-width: 450px) { 

  .map {
    margin: 20px 0px 0px 0px;
    width: 450px;
  }
}

@media screen and (min-width: 512px) { 
  
  footer {
    padding: 40px 0px;
    justify-content: space-around;
    margin: 0px -15px;
  }
}

@media screen and (min-width: 540px) { 

}

@media screen and (min-width: 590px) {   

}

 
@media screen and (min-width: 640px) { 
	
}

 /*  --  ( col-sm )  --  */

@media (min-width: 768px) {

	header {
		margin-top: 30px;
	} 

	.border {
		 height: 380px;
		 margin: 0px 0px;
	}

	h1 {
		font-size: 36px;
		line-height: 38px;
		margin: 100px 0px 16px -24px;
    text-align: left;
	}

	.border p {
		margin: 0px 0px 0px -24px;  	
		line-height: 20px;
    text-align: left;
	} 

	 .mainblock {
		padding: 60px 40px 40px;
	}

	.left h2 {
		margin: 0px 0px 50px 0px ;
	}

	.left>.diplom {
		margin: 60px 0px 100px 0px;
 }

	.foto h2 {
		font-size: 24px;
	}

	footer {
		margin: 0px -15px;
 	}

	.map {
		margin: 0px 0px 0px 0px;
    /*width: 440px;*/
	}
}

					/*  --  ( col-md )  --  */

@media (min-width: 992px) {
	
	.border {
		 height: 470px;
		 margin: 0px 15px;
	}

	h1 {
		font-size: 40px;
		line-height: 50px;
		margin: 130px 0px 20px -10px;
	}

	.border p {
		margin: 0px 10px 0px -10px;  	
		line-height: 22px;
	}

	.mainblock {
		padding: 80px 40px 60px;
	}

	.left h2 {
		margin: 0px 0px 80px 0px ;
	}

	.left>.diplom {
		margin: 80px 0px 0px 0px;
 }

 footer {
	padding: 80px 20px 80px 20px ;
 }

 .map {
    margin: 0px 0px 0px 0px;
    /*width: 440px;*/
  }
}

										/*   --- ( col-lg ) ----    */

 @media (min-width: 1200px)  { 

 	header {
	margin-top: 50px;
}

	.border {
		 height: 500px;
		 margin: 0px 15px;
	}

	.clip-numer {
 		font-size: 298px;
	}

	h1 {
	font-family: Roboto-Medium;
	font-size: 50px;
	line-height: 60px;
	margin: 140px 30px 30px -30px; 
	color: #333;
	font-size: 50px;
	line-height: 60px;
  text-transform: uppercase;
}

  h1 span {
	 color:#ffbb01;
  }

  .border p {
	 font-family: Intro-Book;
	 font-size: 16px;
	 line-height: 24px;
	 margin: 0px 12px 0px -30px;
  }
}


						/* -- ( MAXIM - SIZE ) --   */

@media (min-width: 1400px) { 
	.container {
		width: 1366px;
	}

	.foto img {
		margin: auto;
	}

	footer {
		width: 1266px;
		margin: auto;
	}
}
