footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: rgba(109, 207, 246, .12);
	padding: 80px 50px 80px 50px ;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer h3 {
	font-family: Intro-Bold;
	font-size: 22px;
	line-height: 25px;
	margin: 0px 0px 30px 0px;
}

footer p {
	font-family: Intro-Book;
	font-size: 16px;
	line-height: 24px;
}

footer .tuning {
	margin-top: 10px; 
	display: inline-block;
  width: 121px;
  height: 52px;
  background-image: linear-gradient(rgba(109, 207, 246, .12),rgba(109, 207, 246, .12)),
                    url("../images/logo.png");
}

footer img {
	margin-right: 12px;
}

.names {
	width: 180px;
	margin-bottom: 45px; 
}

