

.mainblock {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 83px;
}

a:hover {
	text-decoration: none;
}

.left {
	margin-right: 60px;
}

main h2 {
	font-family: Intro-Bold;
	font-size: 30px;
	line-height: 22px;
	text-transform: uppercase;
}

.left h2 {
	margin: 0px 0px 100px 0px ;
}


.left>p {
	font-size: 22px;
	line-height: 22px;
	font-family: Intro-Bold;
	text-transform: uppercase;
	margin: 0px 0px 50px 0px;
}

.left>.diplom {
	text-transform: none;
	margin: 100px 0px 0px 0px;
}

.left span {
	font-family: Roboto-Medium;
	display: inline-block;
	border-radius: 10px;
	background-color: rgba(192, 234, 251, .6);
	margin: 6px 2px 6px 20px;
  padding: 0px 20px 0px 20px;
  vertical-align: middle;
  font-size: 12px;
  color: black;
}

.left>p>img {
	margin: 30px 44px 0px 0px;
}

.right{
	font-family: Roboto-Black;
	text-align: center;
	font-size: 22px;
}

.right span {
	display: inline-block;
	line-height: 40px;
	margin: 60px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	border-radius: 5px;
}



.obraz, .confer  {
	width: 300px;
	height: 300px;
	margin: 0;
}

.obraz {
	background: url('../images/back_sup.jpg');
	color: black;
	padding: 50px 64px 0px 64px;
}

.obraz span {
	margin: 38px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	background-color: #f26522;
	color: white; 

}


.confer {
	background: url('../images/back_sub.jpg');
	margin: 50px 0px 0px 0px;
	padding: 54px 34px 0px 34px;
	color: white;
}

.confer span {
	margin: 50px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	background-color: white;
	color: #f26522; 
}

.foto img {
	margin: auto;
}

.foto h2 {
	text-align: center;
	margin-bottom: 40px;
}