/*@font-face {
  font-family: Intro-Black;
  src: url("../fonts/Intro-Black.ttf");
}*/

@font-face {
      font-family: "Intro-Black";
      src: url("../fonts/Intro-Black/Intro-Black.eot");
      src: url("../fonts/Intro-Black/Intro-Black.eot?#iefix")format("embedded-opentype"),
      url("../fonts/Intro-Black/Intro-Black.woff") format("woff"),
      url("../fonts/Intro-Black/Intro-Black.ttf") format("truetype");
  }

  /*@font-face {
  font-family: Intro-Bold;
  src: url("../fonts/Intro-Bold.otf");
}*/


@font-face {
  font-family: "Intro-Bold";
  src: url("../fonts/Intro-Bold/Intro-Bold.eot");
  src: url("../fonts/Intro-Bold/Intro-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Intro-Bold/Intro-Bold.woff")format("woff"),
  url("../fonts/Intro-Bold/Intro-Bold.ttf") format("truetype");
}

/*@font-face {
  font-family: Intro-Book;
  src: url("../fonts/Intro-Book.otf");
}*/

@font-face {
  font-family: "Intro-Book";
  src: url("../fonts/Intro-Book/Intro-Book.eot");
  src: url("../fonts/Intro-Book/Intro-Book.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Intro-Book/Intro-Book.woff")format("woff"),
  url("../fonts/Intro-Book/Intro-Book.ttf") format("truetype");
}


/*@font-face {
	font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}*/

@font-face {
      font-family: "Roboto-Medium";
      src: url("../fonts/Roboto/Roboto-Medium/RobotoMedium.eot");
      src: url("../fonts/Roboto/Roboto-Medium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
      url("../fonts/Roboto/Roboto-Medium/RobotoMedium.woff") format("woff"),
      url("../fonts/Roboto/Roboto-Medium/RobotoMedium.ttf") format("truetype");
  }


/*@font-face {
	font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
}*/

@font-face {
      font-family: "Roboto-Black";
      src: url("../fonts/Roboto/Roboto-Bold/RobotoBold.eot");
      src: url("../fonts/Roboto/Roboto-Bold/RobotoBold.eot?#iefix")format("embedded-opentype"),
      url("../fonts/Roboto/Roboto-Bold/RobotoBold.woff") format("woff"),
      url("../fonts/Roboto/Roboto-Bold/RobotoBold.ttf") format("truetype");
  }

header {
	margin-top: 50px;
}

.border {
	margin: 0px 50px;
	border-width: 20px;
	border-style: solid;
	border-image: linear-gradient(130deg, red, yellow, red, yellow, red) 1;
}

.sto {

  /*width: 100%;
  height: 455px;*/
	/*font-size: 298px;*/
	/*line-height: 474px;
	text-align: center;*/
	/*font-family: Intro-Black;*/
  /*background-image: linear-gradient(rgba(255, 109, 0, 0.4), rgba(255, 109, 0, 0.4)),
                    url('../images/back_sto.jpg');*/
  /*-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -o-text-fill-color: transparent;
  -o-background-clip: text;
  -ms-text-fill-color: transparent;
  -ms-background-clip: text;*/
  
}

h1 {
	font-family: Roboto-Medium;
	font-size: 50px;
	line-height: 60px;
	margin: 140px 30px 30px -30px; 
	color: #333;
	font-size: 50px;
	line-height: 60px;
  text-transform: uppercase;
}

h1 span {
	color:#ffbb01;
}

.border p {
	font-family: Intro-Book;
	font-size: 16px;
	line-height: 24px;
	margin: 0px 12px 0px -30px;
}

.img-clip {
  clip-path: url("#numerClipping");
}


.clip-text {
 font-size: 50px;
  font-family: Intro-Black;
 /* line-height: 474px;
  text-align: center;*/
}





.transparent_font {
  
    /*background:url('../images/collage.jpg');
    background-repeat:repeat-x;
    background-position:0 0;*/
    font-size:200px;
    /*text-transform:uppercase;
    text-align:center;*/
    font-family:'Intro-Black';
    /*color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
	color: transparent;
	background-color: red;*/
}


/*.sto-clip {
  clip-path: url("#numerClipping");
}
*/
/*svg {
	width: 6em; height: 1.5em;
	font: 900 50px 'introblack', sans-serif;

}

text { fill: url(#wood); }*/