

.mainblock {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 83px;
}

a:hover {
	text-decoration: none;
}

.left {
	margin-right: 60px;
}

main h2 {
	font-family: Intro-Bold;
	font-size: 30px;
	line-height: 22px;
	text-transform: uppercase;
}

.left h2 {
	margin: 0px 0px 100px 0px ;
}


.left>p {
	font-size: 22px;
	line-height: 22px;
	font-family: Intro-Bold;
	text-transform: uppercase;
	margin: 0px 0px 50px 0px;
	padding: 0px 0px 0px 0px;
}

.left>.diplom {
	text-transform: none;
	margin: 100px 0px 0px 0px;
}

.left span {
	font-family: Roboto-Medium;
	display: inline-block;
	border-radius: 10px;
	background-color: rgba(192, 234, 251, .6);
	margin: 0px 2px 0px 20px;
  padding: 0px 20px 0px 20px;
  vertical-align: middle;
  font-size: 12px;
  color: black;
}

.left>p>img {
	margin: 30px 44px 0px 0px;
}

.right{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Roboto-Black;
	text-align: center;
	font-size: 22px;
}

.right span {
	display: inline-block;
	line-height: 40px;
	margin: 60px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	border-radius: 5px;
}



.obraz, .confer  {
	width: 300px;
	height: 300px;
	margin: 0px 0px 0px 0px;
}

.obraz {
	background: url('images/back_sup.jpg');
	color: black;
	padding: 50px 64px 0px 64px;
}

.obraz span {
	margin: 38px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	background-color: #f26522;
	color: white; 

}


.confer {
	background: url('images/back_sub.jpg');
	margin: 50px 0px 0px 0px;
	padding: 54px 34px 0px 34px;
	color: white;
}

.confer span {
	margin: 50px 0px 0px 0px;
	padding: 0px 30px 4px 30px;
	background-color: white;
	color: #f26522; 
}

.foto img {
	margin: auto;
}

.foto h2 {
	text-align: center;
	margin-bottom: 40px;
}

		 /*  --  ( col-xs )  --  */

	@media (min-width: 360px) and (max-width: 767px) {

		header {
		margin-top: 0px;
	}
	
  	.border {
		margin: 0px;
  }

	h1 {
		font-size: 40px;
		line-height: 48px;
  	margin: 10px 8px;
  	text-align: center;
	}

  .sto {
		padding: 20px 0px 0px 0px;
		margin: 0px 0px 0px -6px;
		font-size: 180px;
		line-height: 190px;
	}

  .border p {
  	margin: 10px 20px 40px;  	
		line-height: 20px;
		text-align: center;
  }
}

 /*  --  ( col-sm )  --  */

@media (min-width: 768px) and (max-width: 991px) {

	header {
		margin-top: 30px;
	}

  .border {
  	 height: 380px;
  	 margin: 0px 0px;
  }

	h1 {
		font-size: 36px;
		line-height: 38px;
  	margin: 100px 0px 16px -24px;
	}

  .sto {
		font-size: 210px;
		line-height: 360px;
	}

  .border p {
  	margin: 0px 0px 0px -24px;  	
		line-height: 20px;
  }

   .mainblock {
    padding: 60px 40px 40px;
  }

  .left h2 {
    margin: 0px 0px 50px 0px ;
  }

  .left>.diplom {
    margin: 60px 0px 100px 0px;
 }

	.right {
		margin: auto;
	}

}

          /*  --  ( col-md )  --  */

@media (min-width: 992px) and (max-width: 1199px) {

  .border {
  	 height: 470px;
  	 margin: 0px 40px;
  }

	h1 {
		font-size: 40px;
		line-height: 50px;
  	margin: 130px 0px 20px -10px;
	}

  .sto {
		font-size: 270px;
		line-height: 450px;
		background-position: -320px -60px;
	}

  .border p {
  	margin: 0px 10px 0px -10px;  	
		line-height: 22px;
  }

  .mainblock {
    padding: 80px 40px 60px;
  }

  .left h2 {
    margin: 0px 0px 80px 0px ;
  }

  .left>.diplom {
    margin: 80px 0px 0px 0px;
 }
}

										/*   --- ( col-lg ) ----    */

 @media (min-width: 1200px) and (max-width: 1399px) { 

  .border {
  	 height: 500px;
  }
}

/* -- ( MAXIM - SIZE ) --   */

@media (min-width: 1400px) { 
  .container {
    width: 1366px;
  }
	
	.border {
  	 height: 500px;
	}
}











































































































/*@media (min-width: 360px) and (max-width: 767px) {

main {
		
	}

	.foto {
	
	

.mainblock {
  	
  }
}

@media (min-width: 768px) and (max-width: 991px) {

main {
		
	}

	.foto {
	
	
}

.mainblock {
  	
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

	main {
		
	}

	.mainblock {
		padding: 80px 40px;
	}
		
}
 @media (min-width: 1200px) and (max-width: 1399px) { 

	main {
	
	}

  .mainblock {}
	
}

@media (min-width: 1400px) { 


		main {
		
	}
 
	.mainblock {
		
	}
	
}*/